<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestión de Profesores</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-logo">Instituto</div>
        <div class="navbar-links">
            <a href="/">Inicio</a>
            <a href="/alumnos">Alumnos</a>
            <a href="/profesores">Profesores</a>
            <a href="/materias">Materias</a>
            <a href="/carreras">Carreras</a>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </nav>

    <div class="container">
        <h2>Gestión de Materias</h2>
        <a href="/materias/nuevo" class="btn btn-editar">➕ Agregar Materia</a>

        <a href="/materias/eliminar" class="btn btn-eliminar">🗑️ Eliminar Materia</a>

        <a href="/materias/editar" class="btn btn-editar">✏️ Modificar Materia</a>
    </div>

</body>

</html>