<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestión de Profesores</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-logo">Instituto</div>
        <div class="navbar-links">
            <a href="/">Inicio</a>
            <a href="/alumnos">Alumnos</a>
            <a href="/profesores">Profesores</a>
            <a href="/materias">Materias</a>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </nav>

    <div class="container">
        <h2>Gestión de Profesores</h2>
        <a href="/profesores/nuevo" class="btn btn-editar">➕ Agregar Profesor</a>

        <a href="/profesores/eliminarprofesor">Eliminar Profesor</a>

        <a href="/profesores/editarprofesor">Modificar profesor</a>
    </div>

</body>

</html>