<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Profesor</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-logo">Instituto</div>
        <div class="navbar-links">
            <a href="/">Inicio</a>
            <a href="/alumnos">Alumnos</a>
            <a href="/profesores">Profesores</a>
            <a href="/materias">Materias</a>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </nav>

    <a href="/profesores">Listado de profesores</a>
    <a href="/abm_profesores">Gestion de profesor</a>


</body>

</html>